.image-send-container {
  background-color: transparent;
  border-radius: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}

.image-send-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
  text-align: left;
  margin-bottom: 20px;
  align-self: stretch;
  margin-left:40px;
}

.image-upload-box {
  width: 100%;
  max-width: 470px;
  height: 520px; /* 세로 길이 증가 */
  background-color: #f2f3f5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.image-button {
  background: none;
  border: none;
  cursor: pointer;
}

.image-button img {
  width: 80px;
  height: 80px;
}

.uploaded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.ai-image-button {
  width: 100%;
  max-width: 470px;
  height: 60px; /* 버튼 크기 줄임 */
  background-color: #31a575;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-family: 'NEXON Lv1 Gothic OTP', sans-serif;
  font-size: 18px; /* 글자 크기 줄임 */
  cursor: pointer;
  margin-top: 40px;
  font-size: 25px;
}
/* 녹음 중 애니메이션 스타일 */
.recording-animation {
  width: 20px;
  height: 20px;
  border: 5px solid #31a575;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: 10px; /* 마이크 아이콘과의 간격 조절 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 마이크 버튼 내부의 아이콘 및 애니메이션 위치 조정을 위해 position 설정 */
.message-create-mic-button,
.image-create-mic-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-create-mic-button img,
.image-create-mic-button img {
  width: 23px;
  height: 37px;
}

/* 녹음 중일 때 아이콘과 애니메이션 위치 조정 */
.message-create-mic-button.recording img,
.image-create-mic-button.recording img {
  margin-right: 10px;
}