.send-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

/* 두 컴포넌트를 감싸는 wrapper */
.send-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  padding: 30px;
  width: 100%;
  max-width: 1200px;
}

.send-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.message-send-container,
.image-send-container {
  width: 48%;
  display: flex;
  flex-direction: column;
}

/* 연락처 섹션 */
.send-contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  padding: 40px;
  width: 100%;
  max-width: 1200px;
  margin-top: 30px; /* 위쪽 간격을 더 늘림 */
  margin-bottom: 40px; /* 푸터와의 공간 조절을 위한 간격 추가 */
  min-height: 100vh; /* 높이를 더 길게 설정 */
}

* {
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .message-send-container,
  .image-send-container {
    width: 100%;
  }

  .send-content {
    flex-direction: column;
    gap: 40px;
  }

  .send-contact-section {
    flex-direction: column;
    gap: 40px;
  }
}

/* 버튼 스타일 수정 */
.action-buttons,
.submit-button,
.ai-image-button {
  margin-top: 10px;
}

.action-buttons button,
.ai-image-button,
.submit-button {
  width: 100%;
  height: 60px;
  background-color: #31a575;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-family: 'NEXON Lv1 Gothic OTP', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.ai-image-button {
  margin-top: 0;
  background-color: #31a575;
}

.submit-button {
  background-color: #2ecc71;
  font-size: 22px;
}

.mic-button2 {
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
