/*Frontend/src/pages/MyPage/MyPage.css*/
/* 전체 페이지 컨테이너 */
.mypage-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

/* MyPage의 콘텐츠 영역 */
.mypage-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
}

/* Footer 스타일 */
.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}
